.App {
  background-color: #BD5A00;
  color: white;
  min-height: 100vh;
  padding: 50px;
  border-radius: inset 5px;
}

.App-header {
  border-radius: 85px;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

.Button {
  display: flex;
  justify-content: center;
}

.popUp {
  margin-right: auto; 
  margin-left: auto; 
  width: 250px; 
  box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.2); 
  height: 200px; 
  border-radius: 5px; 
  backdrop-filter: blur(14px); 
  background-color: rgba(255, 255, 255, 0); 
  padding: 10px; 
  text-align: center;
  margin: 20px;
}
.popUpContainer {
  position: sticky;
  bottom: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}