.App {
  background-color: #BD5A00;
  color: white;
  min-height: 100vh;
  padding: 50px;
  border-radius: inset 5px;
}

.App-header {
  border-radius: 85px;
  padding: 10px;
  background-color: #ff8e06;
}

h1 {
  text-align: center;
}

.Button {
  display: flex;
  justify-content: center;
}